
.navbar-brand{
	color:white;
}

.text_center{
	text-align: center;
}

.round-form{
	margin-top: -60px;
}

.white{
	color: black!important;
}

.margin_sidebar{
    margin-left: 0px!important;
    margin-top: 60px!important;
}

.showback{
	width: 100%;
}

.mg_top{
	margin-top: 20px;
	margin-bottom: 10px;
}

.h{
	border:1px solid red;
}